@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }

  /* Triangle (Indicator) */
  .profile::after {
    content: "";
    position: absolute;
    top: -20px; 
    left: 20px; 
    width: 20px;
    height: 20px;
    background: white;
    clip-path: polygon(50% 34%, 0% 100%, 100% 100%);
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
  }
}